
<div class="fixed-bottom d-block d-md-none">
    <div class="card flex-wrap">
        <div class="card-body">
            <div class="row ">
                <div class="col-12 my-auto d-flex justify-content-between" style="font-size:small">
                    <div class="text-center" role="button" onclick="location.href='@Url.Action("List","Brand")'">
                        <i class="bi bi-collection h4"></i>
                        <p>Brands</p>
                    </div>
                    <div class="text-center">
                        <i class="bi bi-columns-gap h4"></i>
                        <p>All</p>
                    </div>
                    <div class="position-relative" style="width:80px">
                        <div class="position-absolute text-center" style="bottom:0px" role="button" onclick="location.href='@Url.Action("Index","Home")'">
                            <img class="rounded-circle border" style="max-width:60px" src="https://github.com/ypx0352/ypx0352.github.io/blob/main/tuantuanDashboard-emailPic/tuan-logo.jpeg?raw=true" alt="Logo">
                            <p>Home</p>
                        </div>
                    </div>

                    <div class="text-center">
                        <i class="bi bi-cart3 h4"></i>
                        <p>Cart</p>
                    </div>
                    <div class="text-center">
                        <i class="bi bi-person h4"></i>
                        <p>User</p>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>