@using TuantuanShop.Data.Enums


<div class="flex-column my-3 sticky-top" >
    <ul class="nav nav-pills flex-column">
        <li class="nav-item my-2">
            <a class='nav-link text-center @(ViewData["Category"].GetHashCode() == 0? "active":"")' asp-action="Index" asp-controller="Product" asp-route-category="0" asp-route-activeTab="Category">All</a>
        </li>
        @foreach (var category in Enum.GetValues(typeof(ProductCategory)))
        {
            <li class="nav-item my-2">
                <a class='nav-link text-center @(ViewData["Category"].Equals(@category) ? "active": "")' asp-action="Index" asp-controller="Product" asp-route-activeTab="Category" asp-route-category="@category">@category</a>
            </li>
        }

    </ul>

</div>
