

<div class="d-flex justify-content-center align-items-center" style="height: 50vh;">
    <div class="text-center ">
        <img src="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg" style="height: 100px">
        <h5>Oops! No product available.</h5>
        <p>Try to change the filter and try again.</p>
    </div>

</div>