@{
    ViewData["Title"] = "Management";
}

<div class="container-fluid">
    <div class="row text-center">
        <div class="col-6 col-md-4 col-xl-3 my-2">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Brand</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-subtitle text-success">60</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Brand">All Brands</a>
                    </li>
                    <li class="list-group-item">
                        <a class="btn btn-outline-success" asp-action="Create" asp-controller="Brand" asp-route-returnController="Management">Create one</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-6 col-md-4 col-xl-3 my-2">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Product</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-subtitle text-success">60</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Product">All Products</a>
                    </li>
                    <li class="list-group-item">
                        <a class="btn btn-outline-success" asp-action="Create" asp-controller="Product">Create one</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-6 col-md-4 col-xl-3 my-2">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">User</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-subtitle text-success">60</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Brand">All Users</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-6 col-md-4 col-xl-3 my-2">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Order</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-subtitle text-success">60</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Brand">All Orders</a>
                    </li>
                    <li class="list-group-item">
                        <a class="btn btn-outline-success" asp-action="Index" asp-controller="Brand">Create one</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

