@using TuantuanShop.ViewModels
@model IEnumerable<ProductForListViewModel>
@{
    ViewData["Title"] = "Products";
}

<div>
    @*Tab*@
    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Brands</a>
        </li>       
    </ul>
    <div class="row">
        @*Sidebar*@
        <div class="col"></div>
        @*Content*@
        <div class="col">
            <div class="row">
                <div class="col"></div>
            </div>
        </div>
    </div>
</div>

